{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="display-4">Welcome to MyApp!</h1>
        <p class="lead">This is the homepage of your awesome Symfony application.</p>
        <a href="{{ path('register') }}" class="btn btn-primary">Get Started</a>
    </div>
{% endblock %}
